# MaxScale documentation:
# https://mariadb.com/kb/en/mariadb-enterprise/mariadb-maxscale-22/

# Server definitions
#
# Set the address of the server to the network
# address of a MariaDB server.
#

[server1]
type=server
address=db
port=3306
protocol=MariaDBBackend

# Monitor for the servers
#
# This will keep MaxScale aware of the state of the servers.
# MariaDB Monitor documentation:
# https://mariadb.com/kb/en/mariadb-enterprise/mariadb-maxscale-22-mariadb-monitor/

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1
user=maxscale
password=maxscale_password
monitor_interval=2000

# Service definitions
#
# Service Definition for a read-only service and
# a read/write splitting service.
#

# ReadConnRoute documentation:
# https://mariadb.com/kb/en/mariadb-enterprise/mariadb-maxscale-22-readconnroute/

[Read-Only-Service]
type=service
router=readconnroute
router_options=running
servers=server1
user=maxscale
password=maxscale_password
filters=SampleMaxRows

# Listener definitions for the services
#
# These listeners represent the ports the
# services will listen on.
#

[Read-Only-Listener]
type=listener
service=Read-Only-Service
protocol=MariaDBClient
port=4008
address=0.0.0.0

# Filters
## Query Log All Filter
## https://maxscale.readthedocs.io/en/stable/Documentation/Filters/Query-Log-All-Filter/
[SampleLogFilter]
type=filter
module=qlafilter
match=/SELECT.*FROM.*users/
filebase=/tmp/sample
log_type=unified
flush=true

## Database Firewall filter
## https://maxscale.readthedocs.io/en/stable/Documentation/Filters/Database-Firewall-Filter/
[dbfw-blacklist]
type=filter
module=dbfwfilter
action=block
rules=/etc/maxscale.modules.d/blacklist-rules.txt

## Masking
## https://maxscale.readthedocs.io/en/stable/Documentation/Filters/Masking/
[SampleMasking]
type=filter
module=masking
rules=/etc/maxscale.modules.d/sample-masking-rules.json

## Maxrows
## https://maxscale.readthedocs.io/en/stable/Documentation/Filters/Maxrows/
[SampleMaxRows]
type=filter
module=maxrows
max_resultset_rows=10
debug=3